Import Data

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

#Task 1: Read CSV Files

In [4]:
df_deliveries = pd.read_csv('deliveries.csv')
df_matches = pd.read_csv('matches.csv')

df_matches.head()

   id  season       city  ...         umpire1        umpire2 umpire3
0   1    2017  Hyderabad  ...     AY Dandekar       NJ Llong     NaN
1   2    2017       Pune  ...  A Nand Kishore         S Ravi     NaN
2   3    2017     Rajkot  ...     Nitin Menon      CK Nandan     NaN
3   4    2017     Indore  ...    AK Chaudhary  C Shamshuddin     NaN
4   5    2017  Bangalore  ...             NaN            NaN     NaN

[5 rows x 18 columns]

##Task 2: Get top-level summary

In [5]:
df_matches.describe()

               id       season  ...  win_by_wickets  umpire3
count  636.000000   636.000000  ...      636.000000      0.0
mean   318.500000  2012.490566  ...        3.372642      NaN
std    183.741666     2.773026  ...        3.420338      NaN
min      1.000000  2008.000000  ...        0.000000      NaN
25%    159.750000  2010.000000  ...        0.000000      NaN
50%    318.500000  2012.000000  ...        4.000000      NaN
75%    477.250000  2015.000000  ...        7.000000      NaN
max    636.000000  2017.000000  ...       10.000000      NaN

[8 rows x 6 columns]

In [6]:
df_matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               636 non-null    int64
 1   season           636 non-null    int64
 2   city             629 non-null    object
 3   date             636 non-null    object
 4   team1            636 non-null    object
 5   team2            636 non-null    object
 6   toss_winner      636 non-null    object
 7   toss_decision    636 non-null    object
 8   result           636 non-null    object
 9   dl_applied       636 non-null    int64
 10  winner           633 non-null    object
 11  win_by_runs      636 non-null    int64
 12  win_by_wickets   636 non-null    int64
 13  player_of_match  633 non-null    object
 14  venue            636 non-null    object
 15  umpire1          635 non-null    object
 16  umpire2          635 non-null    object
 17  umpire3          0 non-null      float64
dtypes: float64(1), int64(5), object(12)
memory usage: 89.6+ KB

##Task 3: Check if column 'umpire3' is useful. If not drop it and save the dataframe to a file.

In [8]:
# df = pd.DataFrame({'A': [1, 2, 3], 'B': [1, 1, 1]})
# df.nunique()
# df['A'].unique()

print(df_matches['umpire3'].unique())
print(df_matches['umpire3'].nunique(dropna=False))
df2 = df_matches.drop(['umpire3'],axis=1)
df2.to_csv("matches2.csv",index=False)

[nan]
1

##Task 4: Print Total Number of Mataches played, Number of Seasons,

In [9]:
print("Number of matches played so far : ", df_matches.shape[0])
print("Number of seasons : ", df_matches['season'].nunique())
print("Most Player of the Match: ",df_matches['player_of_match'].value_counts()[:10])
print((df_matches['player_of_match'].value_counts()).idxmax(),' : has most man of the match awards')
print(((df_matches['winner']).value_counts()).idxmax(),': has the highest number of match wins')

Number of matches played so far :  636
Number of seasons :  10
Most Player of the Match:  CH Gayle          18
YK Pathan         16
AB de Villiers    15
DA Warner         15
SK Raina          14
RG Sharma         14
G Gambhir         13
MS Dhoni          13
MEK Hussey        12
AM Rahane         12
Name: player_of_match, dtype: int64
CH Gayle  : has most man of the match awards
Mumbai Indians : has the highest number of match wins

#Task 5: Players who have won the most "Player of the Match" 
## And Team which has the highest number of match wins

In [10]:
big_margin=df_matches[(df_matches['win_by_runs']>=100) | (df_matches['win_by_wickets']>=8)]
big_margin.winner.value_counts()

Royal Challengers Bangalore    17
Kolkata Knight Riders          16
Delhi Daredevils               13
Rajasthan Royals               12
Mumbai Indians                 12
Chennai Super Kings             9
Kings XI Punjab                 7
Sunrisers Hyderabad             5
Kochi Tuskers Kerala            2
Deccan Chargers                 2
Rising Pune Supergiant          1
Rising Pune Supergiants         1
Name: winner, dtype: int64

#Task 6: Find Min and Max win_by_wickets at each city

In [0]:
df_matches.groupby(['city'])
df_matches.groupby(['city','winner']).size()

#df_matches.groupby(['city','winner']).count()
df_matches.groupby(['city']).get_group('Abu Dhabi')

df_matches.groupby(['city']).agg([ 'min', 'max'])['win_by_wickets']
# for name, group in grouped:
#     print(group)
    
#df_matches.groupby(['city','winner']).apply(lambda x: x.reset_index(drop = True))

                min  max
city
Abu Dhabi         0    6
Ahmedabad         0    9
Bangalore         0   10
Bloemfontein      0    6
Cape Town         0   10
Centurion         0    8
Chandigarh        0   10
Chennai           0    9
Cuttack           0    9
Delhi             0   10
Dharamsala        0    6
Durban            0    9
East London       0    7
Hyderabad         0    9
Indore            6    8
Jaipur            0   10
Johannesburg      0    9
Kanpur            2    8
Kimberley         0    7
Kochi             0    7
Kolkata           0    9
Mumbai            0   10
Nagpur            0    6
Port Elizabeth    0    7
Pune              0    9
Raipur            0    7
Rajkot            0   10
Ranchi            0    6
Sharjah           0    8
Visakhapatnam     0    7

#Task 7: Find the match with biggest defeat by runs,

In [11]:
df_matches.iloc[[df_matches['win_by_runs'].idxmax()]]
#Mumbai Indians(MI) defeated Delhi Daredevils(DD) with the highest run difference

    id  season   city  ...      umpire1    umpire2 umpire3
43  44    2017  Delhi  ...  Nitin Menon  CK Nandan     NaN

[1 rows x 18 columns]

#Task 8: Find the match with biggest defeat by wickets

In [0]:

df_matches.iloc[[df_matches['win_by_wickets'].idxmax()]]
##Kolkata Knight Riders(KKR) defeated Gujrat Lions(GL) with the highest wins by wickets

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan